/*-------------------------------- Universal formatting --------------------------------*/

/* clear formatting for anchor */
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* change color when hover to indicate clickable */
a:hover {
    color: orange;
}

/* increase line spacing for lists */
ul {
    line-height: 200%;
}

/* Style for buttons */
button {
    background-color: #0aa964;
    color: white;
    font-family: "Palatino Linotype", sans-serif;
    font-size: x-large;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    height: 5em;
    opacity: 0.9;
    position: relative;
    white-space: pre-wrap;
    width: 90%;
}

button:hover {
    opacity: 1;
}

/*-------------------------------- End Universal formatting --------------------------------*/

/*-------------------------------- index.html formatting --------------------------------*/
/* Reset body */
body.indexBody {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: rgba(108, 107, 107, 0.25);
}

/* Introduction/page header styling */
.introduction {
    background-color: white;
    border: 4px solid cadetblue;
    width: 60%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

img {
    float: right;
    width: 28%;
    border: 2px solid cadetblue;
    margin-top: 5px;
}

.introImage {
    position: relative;
    bottom: 11em;
    margin-right: 55%;
    margin-top: 10px;
    width: 90%;
}

/* End Introduction/page header styling */

/* Defining types section */
.defTypes {
    background-color: white;
    border: 4px solid cadetblue;
    margin-top: 10px;
    width: 26%;
    height: 755px;
    margin-left: 5px;
}

/* Style for code blocks */
.defTypes pre code {
    background-color: whitesmoke;
    display: block;
    height: 100px;
    padding: 5px 5em 5px 0;
    margin-left: 10px;
    white-space: pre-wrap;
    width: 60%;
}

.defTypes p, h2 {
    margin-left: 10px;
    padding-right: 5px;
}

/* End defining types section */

/* Composing Types styling */
.comTypes {
    background-color: white;
    border: 4px solid cadetblue;
    position: relative;
    left: 28%;
    bottom: 47.6em;
    height: 750px;
    width: 40%;
}

.comTypes p, h2, h3 {
    margin-left: 10px;
    padding-right: 5px;
}

/* Style for code blocks */
.comTypes pre {
    text-align: left;
    background-color: whitesmoke;
    display: block;
    padding: 10px 5em 0 0;
    margin-left: 5px;
    white-space: pre-wrap;
    width: 85%;
}

/* End composing types styling */

/* basicButton location */
.basicButton {
    position: relative;
    float: right;
    right: 5em;
    bottom: 80em;
    white-space: pre-wrap;
    width: 20%;
}

/*-------------------------------- End index.html formatting --------------------------------*/

/* Universal */
div.centerContent {
    margin-left: 25%;
    width: 100%;
    padding: 5px;
}

/* prevent horizontal overflow */
body.basicBody {
    overflow-x: hidden;
}

div.introductionBasics {
    background-color: whitesmoke;
    border: 4px solid cadetblue;
    width: 23%;
    height: 500px;
    padding: 5px;
    margin: 14px 0 0 5px;
    float: left;
    position: fixed;
}

.introImageBasics {
    width: 65%;
    margin-left: 25.5%;
    position: fixed;
    margin-top: 10px;
}

/* The Basics Static Type */
.staticType pre {
    text-align: left;
    background-color: whitesmoke;
    display: block;
    padding: 10px 5em 0 0;
    margin-left: 10px;
    white-space: pre-wrap;
    width: 90%;
}

.styleSpan {
    background-color: rgba(255, 0, 0, 0.30);
    font-size: medium;
    display: inline-block;
    width: 90%;
}

div.staticType {
    border: 4px solid cadetblue;
    width: 40%;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px 5em 0 0;
}

.staticType p {
    margin-left: 10px;
}

/* End static type */

/* Start Types for Tooling */
/* Type tooling pre */
.tooling pre {
    text-align: left;
    background-color: whitesmoke;
    display: block;
    padding: 10px 5em 0 0;
    margin-left: 10px;
    white-space: pre-wrap;
    width: 90%;
}

div.tooling {
    border: 4px solid cadetblue;
    width: 40%;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px 5em 0 0;
}

.tooling p {
    margin-left: 10px;
}

/* span suggest */
.tooling span.suggest {
    background-color: #d7d1bf;
}

/* End types for tooling */
/* Start tsc styling */
.tsc pre {
    text-align: left;
    background-color: whitesmoke;
    display: block;
    padding: 10px 5em 0 0;
    margin-left: 10px;
    white-space: pre-wrap;
    width: 90%;
}

div.tsc {
    border: 4px solid cadetblue;
    width: 40%;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px 5em 0 0;
}

.tsc p {
    margin-left: 10px;
}
/* End tsc styling */
/* Start explicit types styling */
div.explicit {
    border: 4px solid cadetblue;
    width: 40%;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px 5em 0 0;
}

.explicit p {
    margin-left: 10px;
}

.explicit pre {
    text-align: left;
    background-color: whitesmoke;
    display: block;
    padding: 10px 5em 0 0;
    margin-left: 10px;
    white-space: pre-wrap;
    width: 90%;
}
/* End Explicit types */

/* Writing config files */
div.writeConfig {
    border: 4px solid cadetblue;
    width: 40%;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px 5em 0 0;
}

.writeConfig p {
    margin-left: 10px;
}

.writeConfig pre {
    text-align: left;
    background-color: whitesmoke;
    display: block;
    padding: 10px 5em 0 0;
    margin-left: 10px;
    white-space: pre-wrap;
    width: 90%;
}
/* End config files */

/* Export from modules */
div.export {
    border: 4px solid cadetblue;
    width: 40%;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px 5em 0 0;
}

.export p {
    margin-left: 10px;
}

.export pre {
    text-align: left;
    background-color: whitesmoke;
    display: block;
    padding: 10px 5em 0 0;
    margin-left: 10px;
    white-space: pre-wrap;
    width: 90%;
}

/* ---------------- Comment Section ----------------------------*/
div.comments {
    border: 2px solid cornflowerblue;
    margin-left: 72%;
    margin-top: 8%;
    width: 23%;
    padding: 5px;
    margin-bottom: 10px;
    position: fixed;
}

#comments {
    border: 1px solid cadetblue;
    border-radius: 5px;
    font-size: medium;
    white-space: pre-wrap;
    width: 90%;
}

#post {
    border: none;
    border-radius: 5px;
    width: fit-content;
    font-size: medium;
    height: fit-content;
}


#post:hover{
    background-color: deeppink;
}
